{
  "connections": {
    "listener": [
      {
        "id": 1,
        "name": "Not Encrypted",
        "bind_ip": "0.0.0.0",
        "port": 1883,
        "threads": 4,
        "protocol": "MQTT",
        "enable": true
      },
      {
        "id": 2,
        "name": "Encrypted",
        "bind_ip": "0.0.0.0",
        "port": 8883,
        "threads": 4,
        "protocol": "MQTT+SSL",
        "enable": true
      }
    ],
    "ssl_keys": {
      "cafile": "",
      "keyfile": "${ProgramCerts}/node.key",
      "certfile": "${ProgramCerts}/node.crt",
      "verify_depth": 0
    }
  },
  "queue_limits": {
    "max_size": 50000,
    "max_inflight_messages": 32768
  },
  "server_limits": {
    "send_threads": "auto",
    "receive_threads": "auto",
    "max_topic_alias": 128
  },
  "authentication": {
    "allow_anonymous": false
  },
  "persistence": {
    "redis_uri": "redis://localhost:6379",
    "clean_start": true,
    "enabled": false,
    "max_redis_connections": 32,
    "max_queued_writes": 100
  },
  "logging": {
    "log_to": "xmq_server.log",
    "keep_logs": 7,
    "min_log_level": "INFO",
    "log_level": {
      "connect": "DEBUG",
      "disconnect": "DEBUG",
      "subscribe": "DEBUG",
      "unsubscribe": "DEBUG",
      "publish": "ERROR",
      "ack": "ERROR",
      "server_connections": "DEBUG",
      "server_events": "DEBUG",
      "cluster_connections": "INFO",
      "cluster_events": "INFO"
    }
  },
  "web_service": {
    "listener_port": 18883,
    "encrypted": true
  },
  "bridges": [],
  "cluster": {
    "this_node": {
      "node_name": "primary",
      "host_port": "localhost:8883",
      "encrypted": true
    },
    "nodes": []
  }
}
